@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --cor-fundo: rgb(12, 15, 53);
    --cor-hover: rgb(71, 71, 73);
    --cor-primaria: white;
    --cor-tela: rgb(187, 184, 184);
    --cor-telaSuperior: rgb(255, 96, 5);
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    list-style: none;
}

.faixa-superior li{
    padding: 60px;
    background-color:var(--cor-telaSuperior);
    text-decoration: none;
    border-top: var(--cor-telaSuperior);
    list-style: none;
}

.menu{
    background-color: var(--cor-fundo);
    width: 250px;
    height: 100%;
    position: fixed;
}
.menu .cadastro{
    color: var(--cor-primaria);
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    font-size: 30x;
    border-bottom: 2px solid var(--cor-telaSuperior);
}

.menu ul{
    list-style: none;
}

.menu ul li{
    line-height: 60px;
}
.menu ul li a{
    color: var(--cor-primaria);
    padding-left: 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: block;
    transition: background .3s;
}
.menu ul li a:hover{
    background-color: var(--cor-hover);
    transition: 0,5s;
}

.menu ul ul li a{
font-size: 18px;
font-weight: 300;
padding-left: 60px;
background-color: #370707;
}

.menu ul ul{
    display: none;
    position: absolute;
}

.menu ul .itensCliente.mostra{
    display: block;
}
/*sub menu*/
.menu ul ul{
    display: none;
    left: 0;
    position: absolute;
}
.menu ul li:hover ul{
    display: contents;
}
.menu ul ul{
   width: 150px;
}
.menu ul ul li a{
    display: block;
}
.menu ul li a ul{
    background-color: var(--cor-primaria);
}

#listagem-clientes{
    padding-top: 30px;
    float:none;
}



