:root{
    --cor-menuVertical: rgba(110, 110, 117, 0.411);
    --cor-selecao: rgb(221, 10, 10);
    --cor-selecao-2: white;
    --cor-fonte: white;
    --cor-fonte-menu:black;
    --cor-telaCentral: rgb(187, 184, 184);
    --cor-header: rgb(212, 209, 208);
    --cor-header-faixa: rgb(221, 10, 10);

}
*{
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

/* header e menu vertical */
 .header{
    display: flex;
    justify-content: space-between;
    height: 7em;
    align-items: center;
  
    text-decoration: none;
    border-top: var(--cor-header);
    list-style: none;
    color: var(--cor-fonte);
    text-align: right;
    
}
.header .logo{
text-align: left;
margin-left: 10em;

}
.header .suporte{
text-align: right;
margin-right: 10em;
}

.faixa{
    height: 0.5em; 
    background-color:var(--cor-header-faixa);
}
body{
    background: var(--cor-fonte);
}

h3{
    font-size: 2em;
    font-weight: bold;
}
h2{
    color: var(--cor-menuVertical);
    text-align: center;
    font-weight: bold;
}
.cadastro p{
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
}
a:hover, a:focus{
    background-color:  var(--cor-selecao);
    text-decoration: none;
    transition: all 3s; 
  
}
.cadastro li a{
    color: var(--cor-fonte-menu);
}
.wrapper{
    display: flex;
    width: 50em;
    text-decoration: none;
    transition: all 0.2s;
}
#sidebar{
    min-width: 15em;
    max-width: 15em;
    /* background:var(--cor-menuVertical); */
    color: var(--cor-header);
    transition: all 0.3s;
    text-decoration: none;
    list-style: none;
    position: absolute;
    height: 100%;
    box-shadow: 0.2em -0.1em 0.5em black;
    border-radius: 0.1em;
    font-size: 2em;
    background: linear-gradient(to right, var(--cor-menuVertical), rgb(0, 0, 0));
    
}
#sidebar .sidebar-header{
    padding: 1em;
    background:var(--cor-menuVertical);
    text-align: center;
    border-bottom: 0.3em solid var(--cor-header-faixa);
    font-weight: bold;
    
}
#sidebar ul p{
    color: var(--cor-fonte-menu);
    padding: 0.5em;
}
#sidebar ul li a{
    padding: 0.5em;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover{
    color: var(--cor-header);
    background: linear-gradient(to right,  var(--cor-selecao-2), var(--cor-selecao));
    border-radius: 0.2em;
}
#sidebar ul li.active>a, a[aria-expanded="true"]{
    background:var(--cor-selecao);
    margin-left: -0.3em;
    background: linear-gradient(to right, var(--cor-selecao), var(--cor-selecao-2));
}




a[data-toggle="collapse"]{
    position: relative;
}
.dropdown-toggle::after{
    display: block;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
}
ul ul a{
    font-size: 0.9em !important;
    padding-left: 2em !important;
    background: var(--cor-menuVertical);
}


/* salvar */
/* .container{
    width: 50em;
    height: 10em;
    text-align:center;
} */

.column-1{    
    width:100%;
    font-size: 2em;
    text-align: center; 
    margin-top: 0.5em; 
    margin-bottom: -0.5em;  
    margin-left: 1em; 
}
.column-2{    
    width: 100%; 
    font-size: 3em;
    text-align: center;  
    margin-left: 1em;     
}
.container .column-2, .column-4, .column-6, .column-8{
    background-size:cover;
    height: auto;
    padding: 1% 2em;
    width: 100%;
    
   
}
.container .title{
    font-weight: bold;
    color:black;
    text-align: center;
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1em;
    margin-top: 1.5em;
    margin-bottom: 1em;
}
.container label{
    font-size: 1.5em;
    margin-left: 1em;
}


/* Listar */
table {
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
}
thead {
    border:0.3em solid rgb(146, 144, 144);
    border-collapse: collapse;
}
th {
    padding: 0,7em;
    font-weight: bold;
    border: 0.2em solid rgb(146, 144, 144);
}
td{
    padding: 0.7em;
    border:0.2em solid rgb(146, 144, 144);
    margin:0;
}

/* Button */

.container .salvar, .atualizar{
    text-decoration: none;
    font-size: 2em;
    color: #FFFFFF;
    background: linear-gradient(to bottom, #979494, #4A4A4A);
    border: solid #0C7B35 0.1em;
    border-radius: 0.2em;
    padding:0.12em; 
    -webkit-transition: all 0.84s ease;
    -moz-transition: all 0.84s ease;
    -o-transition: all 0.84s ease;
    transition: all 0.84s ease;   
    margin-left: 17.5em;
}

.container .salvar:hover, .atualizar:hover{
    background: linear-gradient(to bottom, #086D0C, #0D4705);
}
.container .salvarOS{
    text-decoration: none;
    font-size: 2em;
    color: #FFFFFF;
    background: linear-gradient(to bottom, #979494, #4A4A4A);
    border: solid #0C7B35 0.1em;
    border-radius: 0.2em;
    padding:0.12em; 
    -webkit-transition: all 0.84s ease;
    -moz-transition: all 0.84s ease;
    -o-transition: all 0.84s ease;
    transition: all 0.84s ease;   
    margin-left: 17em;
}
.container .adicionarVeiculo{
    text-decoration: none;
    font-size: 2em;
    color: #FFFFFF;
    background: linear-gradient(to bottom, #979494, #4A4A4A);
    border: solid #080E7B 0.1em;
    border-radius: 0.2em;
    padding:0.12em;
    -webkit-transition: all 0.84s ease;
    -moz-transition: all 0.84s ease;
    -o-transition: all 0.84s ease;
    transition: all 0.84s ease;
    text-align: center;
    margin-left: 15em;
}
.container .adicionarProfissional{
    text-decoration: none;
    font-size: 2em;
    color: #FFFFFF;
    background: linear-gradient(to bottom, #979494, #4A4A4A);
    border: solid #080E7B 0.1em;
    border-radius: 0.2em;
    padding:0.12em;
    -webkit-transition: all 0.84s ease;
    -moz-transition: all 0.84s ease;
    -o-transition: all 0.84s ease;
    transition: all 0.84s ease;
    text-align: center;
    margin-left: 13.5em;
}
.container .adicionarServico{
    text-decoration: none;
    font-size: 2em;
    color: #FFFFFF;
    background: linear-gradient(to bottom, #979494, #4A4A4A);
    border: solid #080E7B 0.1em;
    border-radius: 0.2em;
    padding:0.12em;
    -webkit-transition: all 0.84s ease;
    -moz-transition: all 0.84s ease;
    -o-transition: all 0.84s ease;
    transition: all 0.84s ease;
    text-align: center;
    margin-left: 14.5em;
}
.container .adicionarProduto{
    text-decoration: none;
    font-size: 2em;
    color: #FFFFFF;
    background: linear-gradient(to bottom, #979494, #4A4A4A);
    border: solid #080E7B 0.1em;
    border-radius: 0.2em;
    padding:0.12em;
    -webkit-transition: all 0.84s ease;
    -moz-transition: all 0.84s ease;
    -o-transition: all 0.84s ease;
    transition: all 0.84s ease;
    text-align: center;
    margin-left:  14.5em;
}
.container .adicionar:hover{
    background: linear-gradient(to bottom, #08086D, #303069);
    text-align: center;
}
button .botaoRemover{
    text-decoration: none;
    font-size: 2em;
    color: #FFFFFF;
    background: linear-gradient(to bottom, #979494, #4A4A4A);
    border: solid #080E7B 0.1em;
    border-radius: 0.2em;
    padding:0.12em;
    -webkit-transition: all 0.84s ease;
    -moz-transition: all 0.84s ease;
    -o-transition: all 0.84s ease;
    transition: all 0.84s ease;
}

