@{
    layout="SistemaMecanicaFrontEnd/shared/_layout.cshtml";
    var PageTitle = "LayoutPrincipal";
}
@section titulo{
    @PageTitle
}
@section links{
    <div class="wrapper">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inicial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" hrel="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script> scr="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"</script>
    <link rel="stylesheet" href="/SistemaMecanicaFrontEnd/css/style.css">
   
</head>
<body>
    <nav class="header">
        <div>
            <span class="logo">logo</span>
        </div>
        <div>
        <a class="contato" href="#">Contato</a>
        </div>
    </nav>  

<div class="wrapper">

    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>ONSYSTEM</h3>
        </div>
        <ul class="cadastro">
            <p>Cadastro</p>
            <li>
                <a href="#clienteSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Cliente</a>
                <ul class="collapse lisst-unstyled" id="clienteSubmenu">
                    <li>
                        <a href="SistemaMecanicaFrontEnd/module/moduleCliente/salvarCliente.html">Cadastrar</a>
                    </li>
                    <li>
                        <a href="SistemaMecanicaFrontEnd/module/moduleCliente/listarCliente.html">Buscar</a>
                    </li>
                    <li>
                        <a href="SistemaMecanicaFrontEnd/module/moduleCliente/editarCliente.html">Editar</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#veiculoSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Veículo</a>
                <ul class="collapse lisst-unstyled" id="veiculoSubmenu">
                    <li>
                        <a href="SistemaMecanicaFrontEnd/module/moduleVeiculo/salvarVeiculo.html">Cadastrar</a>
                    </li>
                    <li>
                        <a href="SistemaMecanicaFrontEnd/module/moduleVeiculo/listarVeiculo.html">Buscar</a>
                    </li>
                    <li>
                        <a href="SistemaMecanicaFrontEnd/module/moduleVeiculo/editarVeiculo.html">Editar</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#profissionalSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Profissional</a>
                <ul class="collapse lisst-unstyled" id="profissionalSubmenu">
                    <li>
                        <a href="SistemaMecanicaFrontEnd/module/moduleProfissional/salvarProfissional.html">Cadastrar</a>
                    </li>
                    <li>
                        <a href="SistemaMecanicaFrontEnd/module/moduleProfissional/listarProfissional.html">Buscar</a>
                    </li>
                    <li>
                        <a href="SistemaMecanicaFrontEnd/module/moduleProfissional/editarProfissional.html">Editar</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#ServicoSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Serviço</a>
                <ul class="collapse lisst-unstyled" id="ServicoSubmenu">
                    <li>
                        <a href="SistemaMecanicaFrontEnd/module/moduleServico/salvarServico.html">Cadastrar</a>
                    </li>
                    <li>
                        <a href="SistemaMecanicaFrontEnd/module/moduleServico/listarServico.html">Buscar</a>
                    </li>
                    <li>
                        <a href="SistemaMecanicaFrontEnd/module/moduleServico/editarServico.html">Editar</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#produtoSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Produto</a>
                <ul class="collapse lisst-unstyled" id="produtoSubmenu">
                    <li>
                        <a href="SistemaMecanicaFrontEnd/module/moduleProduto/salvarProduto.html">Cadastrar</a>
                    </li>
                    <li>
                        <a href="SistemaMecanicaFrontEnd/module/moduleProduto/listarProduto.html">Buscar</a>
                    </li>
                    <li>
                        <a href="SistemaMecanicaFrontEnd/module/moduleProduto/editarProduto.html">Editar</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#ordemServicoSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ordem de Serviço</a>
                <ul class="collapse lisst-unstyled" id="ordemServicoSubmenu">
                    <li>
                        <a href="SistemaMecanicaFrontEnd/module/moduleOrdemServico/salvarOrdemServico.html">Cadastrar</a>
                    </li>
                    <li>
                        <a href="SistemaMecanicaFrontEnd/module/moduleOrdemServico/listarOrdemServico.html">Buscar</a>
                    </li>
                    <li>
                        <a href="SistemaMecanicaFrontEnd/module/moduleOrdemServico/editarOrdemServico.html">Editar</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="content">
    <nav class="navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
    </nav>
    <br><br>
    <h2>Seja bem vindo!</h2>  
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
crossorigin="anonymous"></script>

</body>
<script src="SistemaMecanicaFrontEnd/app/index.js"></script>
</html>
}
<h2>@PageTitle</h2>
<p>Seja Bem Vindo!</p>